<template>
  <div class="list row">
    <div class="col-md-12">
      <div v-if="consultas.length > 0">
        <h4>Consultas</h4>
        <table>
          <tr>
            <th>Placa</th>
            <th>Data da Consulta</th>
          </tr>
          <tr v-for="(consulta, index) in consultas.reverse()" :key="`consulta-${index}`">
            <td>{{ consulta.plate }}</td>
            <td>{{ formataData(consulta.date) }}</td>
          </tr>
        </table>
      </div>
      <div v-else>
        <br />
        <p>Nenhuma consulta efetuada</p>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from "../services/api-services";

export default {
  name: 'consultas-list',
  data() {
    return {
      consultas: []
    };
  },
  methods: {
    getConsulta() {
      ApiService.listConsult()
        .then(response => {
          this.consultas = response.data.data.list;
          console.log(response.data.data.list);
        })
        .catch(e => {
          let erros = '';
          e.response.data.feedbacks.forEach(element => {
            erros += element.msg + '\r\n';
          });
          alert(erros);
        });
    },

    formataData(timestamp) {
      let data = new Date(timestamp);
      return data.toLocaleDateString() + ' ' + data.getHours() + ':' + data.getMinutes() + ':' + data.getSeconds();
    }
  },
  mounted() {
    this.getConsulta();
  }
}
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>