<template>
  <div class="submit-form">
    <div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          required
          v-model="login.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          v-model="login.password"
          name="password"
        />
      </div>

      <button @click="sendLogin" class="btn btn-success">Login</button>
    </div>
  </div>
</template>

<script>
import ApiService from "../services/api-services";

export default {
  name: "login",
  data() {
    return {
      login: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    sendLogin() {
      var data = {
        email: this.login.email,
        password: this.login.password
      };

      ApiService.login(data)
        .then(response => {
          window.localStorage.setItem('api_token', response.data.data);
          this.$router.push({ name: "/consultas" });
        })
        .catch(e => {
          let erros = '';
          e.response.data.feedbacks.forEach(element => {
            erros += element.msg + '\r\n';
          });
          alert(erros);
        });
    },
  },
  mounted() {
    window.localStorage.removeItem('api_token');
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
