<template>
  <div class="list row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Pesquisar pela placa"
          v-model="placa"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="consultaVeiculo"
          >
            Consultar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Dados do Veículo</h4>
      <ul class="list-group">
        <li class="list-group-item"> Placa {{ dados.plate }} </li>
        <li class="list-group-item"> Chassi {{ dados.chassis }} </li>
        <li class="list-group-item"> Marca {{ dados.brand }} </li>
        <li class="list-group-item"> Modelo {{ dados.model }} </li>
        <li class="list-group-item"> Cor {{ dados.color }} </li>
        <li class="list-group-item"> Ano de fabricação {{ dados.yearManufactur }} </li>
        <li class="list-group-item"> Ano do modelo {{ dados.yearModel }} </li>
        <li class="list-group-item" v-if="dados.msg != null"> {{ dados.msg }} </li>
      </ul>
    </div>
  </div>
</template>

<script>
import ApiService from "../services/api-services";

export default {
  name: "veiculo-consulta",
  data() {
    return {
      placa: "",
      dados: {},
    };
  },
  methods: {
    consultaVeiculo() {
      ApiService.vehiclePlate(this.placa)
        .then(response => {
          this.dados = response.data.data;
          console.log(response.data.data);
        })
        .catch(e => {
          this.dados = {};
          let erros = '';
          e.response.data.feedbacks.forEach(element => {
            erros += element.msg + '\r\n';
          });
          alert(erros);
        });
    }
  },
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
