<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">Union Solution</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/consultas" class="nav-link">Consultas</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/veiculoconsulta" class="nav-link">Consultar Veículo</router-link>
        </li>
        <li class="nav-item" v-if="!loggedin">
          <router-link to="/login" class="nav-link">Login</router-link>
        </li>
        <li class="nav-item" v-else>
          <router-link to="/logoff" class="nav-link">Logoff</router-link>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      loggedin: window.localStorage.getItem('api_token') != null
    };
  },
  mounted() {
    if(window.localStorage.getItem('api_token') == null) {
      this.$router.push({ name: "login" });
    }
  }
};
</script>
